
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

canvas {
  /* Ajusta el tamaño máximo al contenedor */
  max-width: 60%;
  max-height: 50%;

  /* Mantén la proporción original */
  width: auto;
  height: auto;

  border: 2px solid #333;
  background-color: #fff;
}
